/* Custom Checkbox */

/* Giving font-size to both the label and the checkbox */
.form-control {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.1;

    display: grid;
    grid-template-columns: 1rem auto;
    gap: 0.5rem;
    align-items: center;
}

.form-control input {
    /* Reseting the default checkbox apperance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    /* inherit the color and the font from the label */
    font: inherit;
    color: currentColor;

    width: 1.15rem;
    height: 1.15rem;

    /* making the border the same color of the label */
    border: 0.15rem solid currentColor;
    border-radius: 3px;

    display: grid;
    place-content: center;
}

/* The checked icon */
.form-control input::before {
    content: "";

    width: 0.65rem;
    height: 0.65rem;

    /* Animation */
    transform: scale(0);
    transition: 120ms transform ease-in-out;

    /* box-shadow instead of background-color, so if someon print the page, the checked state remains visible */
    box-shadow: inset 1rem 1rem var(--accent);
}

/* Display the check icon when checked */
.form-control input:checked::before {
    transform: scale(1);
}

/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
