/* Custom Selection Color */
.custom-selection::-moz-selection {
    background-color: var(--accent);
}
.custom-selection::selection {
    background-color: var(--accent);
}

.custom-selection {
    font-size: 18px;
}

/* https://markodenic.com/css-tips/ */
