/* Flex Gap */
.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Adds a gap between the childrens of boxes */
    gap: 15px;
}

.boxes .box {
    background-color: #555;
    width: 60px;
    height: 60px;
}

.boxes .box:empty {
    background-color: none;
}
