/* Flex Gap */
.boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Adds a gap between the children of boxes */
    gap: 15px;
}

.boxes .box {
    background-color: var(--light-grey);
    width: 60px;
    height: 60px;
}

.boxes .box:empty {
    background-color: none;
}

/* https://markodenic.com/css-tips/ */
