/* Greyscale filter */
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Responsive image, scale down */
.images img {
    max-width: 100%;
    height: auto;
}

.greyscale {
    /* Apply filter to the image */
    filter: grayscale(100%);
}
