/* COLORS */

:root {
    --body: #3c3c3c;
    --scrollbar-track: #3f3f3f;
    --orange: #f17c0d;
    --light-grey: #555;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 1rem;

    background-color: var(--scrollbar-track);
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;

    background-color: #fff;

    border: 2px solid var(--scrollbar-track);
}

body {
    background: var(--body);
    color: #fff;

    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

input {
    background: var(--light-grey);

    font-size: 18px;
    color: #fff;

    border: none;

    padding: 8px 15px;
}

input:focus {
    outline-color: var(--orange);
    outline-style: solid;
}

.container {
    flex: 1;

    max-width: 960px;

    margin: auto;
    padding: 100px 0 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;

    background-color: var(--light-grey);

    padding: 15px;
}

.button {
    color: #3c3c3c;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    background: #e3eee3;

    padding: 1rem;

    border-radius: 3px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* HEADER */

.header {
    padding: 12px 25px;

    background-color: #333;
    border-bottom: 1px solid var(--orange);

    position: fixed;
    top: 0;
    z-index: 99;
}

.header ul {
    list-style: none;

    text-align: center;
}

.header li {
    display: inline;

    padding: 0px 5px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

/* FOOTER */

footer {
    text-transform: lowercase;
    text-align: center;

    padding: 25px 0;

    background: #4f4f4f;
}

footer a {
    color: var(--orange);
    text-decoration: none;
}
