/* COLORS */

/* Coding in public https://www.youtube.com/watch?v=uO3RF_67re8&list=PL4cUxeGkcC9jXaLsxbEmsPSOlb40ZLaKN&index=4 */

:root {
  /* Dark Mode Colors */
  --text-dark: #fff;
  --body-dark: #3c3c3c;
  --scrollbar-track-dark: #3f3f3f;
  --accent-dark: #f17c0d;
  --light-grey-dark: #555;
  --header-dark: rgb(51, 51, 51, 0.8);
  --footer-dark: #4f4f4f;
  --shadow-dark: rgba(238, 238, 238, 0.2);
  --gradient-dark: linear-gradient(315deg, #fc5296 0%, #f67062 74%);

  /* Light Mode Colors */
  --text-light: #3c3c3c;
  --body-light: #fff;
  --scrollbar-track-light: #e9e9e9;
  --accent-light: #45a2d8;
  --light-grey-light: #d8d8d8;
  --header-light: rgb(244, 244, 245, 0.8);
  --footer-light: #e0ecf3;
  --shadow-light: rgba(49, 49, 49, 0.2);
  --gradient-light: linear-gradient(315deg, #52fc99 0%, #45a2d8 74%);
}

/* Color Scheme */

/* GENERAL */

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* input,
button,
textarea,
select {
    font: inherit;
} */

/* Better img defaults */
img,
picture {
  /* Responsive image */
  max-width: 100%;
  height: auto;

  /* Instead of display block use vertical-align middle and the image is still inline-block */
  vertical-align: middle;
  /* Change the alt text when the image is not loaded to italic */
  font-style: italic;

  /* Technique for lazy loading images, for this property make difference others things is needed:
    - low res image for the lazy loading
    - background-image with the low res version
    - preload the low res image
  */
  background-size: cover;
  background-repeat: no-repeat;

  /* Default shape-margin for floating images */
  shape-margin: 0.5rem;
}

/* End of Reset */

/* Smooth Scrolling */

/* Coding in Public: https://www.youtube.com/watch?v=4FIP7GiNccw */
@media (prefers-reduced-motion: no-preference) {
  /* with focus-within the smooth behavior only occurs when scrolling to a element */
  /* without it, the smooth behavior will occur when we search something with CTRL + F and that's not a good thing for the user */
  /* The focus-within only works with elements that can be focused like buttons and links, to make it work with div/h1/etc we need tabindex on the element */
  html:focus-within {
    scroll-behavior: smooth;
    /* scroll-padding is the padding left when you scroll to a element on the page */
    /* vmax = view height/width depend on what is the biggest, on normal PC will be width and on mobile will be height */
    scroll-padding-top: 8vmax;
  }
}

body::-webkit-scrollbar {
  width: 0.8rem;

  background-color: var(--scrollbar-track);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background: var(--gradient);

  border: 2px solid var(--scrollbar-track);
}

body {
  background: var(--body);
  color: var(--text);

  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

input {
  background: var(--light-grey);

  font-size: 18px;
  color: var(--text);

  border: none;

  padding: 8px min(15px, 3vw);
}

input:focus {
  outline-color: var(--accent);
  outline-style: solid;
}

.container {
  flex: 1;

  max-width: 960px;

  margin: auto;
  padding: 100px 0 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 300px;

  background-color: var(--light-grey);

  padding: 15px;
}

.button {
  color: var(--text);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  background: var(--accent);

  padding: 1rem;

  border: none;
  border-radius: 3px;

  transition: transform 0.2s;
}

.button:hover {
  transform: translateY(-0.2rem) scale(1.2);
}

.button:focus-visible,
a:focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 0.2rem;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* HEADER */

.header {
  padding: 12px 25px;

  background-color: var(--header);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  width: 100%;

  position: fixed;
  top: 0;
  z-index: 99;

  /* Alternative Gradient Border */
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: var(--gradient);
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  /* position absolute for the mobile */
  position: absolute;
  top: 1rem;
  /* left: 0, right:0 makes the ul occupy the entire width of the screen */
  left: 0;
  right: 0;
  /* the entire nav have z-index of 99 but the links will be bellow everything else inside of the parent(nav) */
  z-index: -1;

  background-color: var(--header);

  padding: 1.5rem;

  border-bottom: 2px solid var(--accent);

  /* translate3d have better performance, if the browser have GPU acceleration, will use it */
  /* translate3d(x, y, z) */
  transform: translate3d(0, -200%, 0);

  transition: transform 0.2s cubic-bezier(0.64, 0.04, 0.26, 0.87);

  list-style: none;

  text-align: center;
}

.btn-menu {
  cursor: pointer;

  color: var(--accent);

  background-color: transparent;
  border: none;

  /* center the svg */
  display: grid;
  place-items: center;

  /* horizontal padding */
  padding-inline: 1rem;
}

.btn-menu[aria-expanded='true'] + .nav-links {
  transform: translate3d(0, 0, 0);
}

.nav-links li {
  display: inline;

  padding: 0px 5px;
}

.nav-link {
  color: var(--text);
  text-decoration: none;
}

/* FOOTER */

footer {
  text-transform: lowercase;
  text-align: center;

  padding: 25px 0;

  background: var(--footer);
}

footer a {
  color: var(--accent);
  text-decoration: none;
}

/* Media */

@media screen and (max-width: 768px) {
  .container {
    margin: 15px;
  }
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }

  .nav-links {
    /* reset the position absolute */
    position: static;

    /* make the menu visible */
    transform: translate3d(0, 0, 0);

    /* reset every change in the nav-links for desktop */
    border-bottom: 0;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }

  li,
  .nav-link {
    width: initial;
  }
}

@media screen and (max-width: 530px) {
  .container {
    padding: 25px 0;
  }
}

@media screen and (max-width: 320px) {
  .box {
    width: 200px;
  }
}

/* Load the light/dark mode colors based on the system */
@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--text-dark);
    --body: var(--body-dark);
    --scrollbar-track: var(--scrollbar-track-dark);
    --accent: var(--accent-dark);
    --light-grey: var(--light-grey-dark);
    --header: var(--header-dark);
    --footer: var(--footer-dark);
    --shadow: var(--shadow-dark);
    --gradient: var(--gradient-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: var(--text-light);
    --body: var(--body-light);
    --scrollbar-track: var(--scrollbar-track-light);
    --accent: var(--accent-light);
    --light-grey: var(--light-grey-light);
    --header: var(--header-light);
    --footer: var(--footer-light);
    --shadow: var(--shadow-light);
    --gradient: var(--gradient-light);
  }
}

/* Root variables for the dark/light themes */

[color-scheme='dark'] {
  --text: var(--text-dark);
  --body: var(--body-dark);
  --scrollbar-track: var(--scrollbar-track-dark);
  --accent: var(--accent-dark);
  --light-grey: var(--light-grey-dark);
  --header: var(--header-dark);
  --footer: var(--footer-dark);
  --shadow: var(--shadow-dark);
  --gradient: var(--gradient-dark);
}

[color-scheme='light'] {
  --text: var(--text-light);
  --body: var(--body-light);
  --scrollbar-track: var(--scrollbar-track-light);
  --accent: var(--accent-light);
  --light-grey: var(--light-grey-light);
  --header: var(--header-light);
  --footer: var(--footer-light);
  --shadow: var(--shadow-light);
  --gradient: var(--gradient-light);
}

/* Disable all animations for people that prefer without it */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 200ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 200ms !important;
    scroll-behavior: auto !important;
  }
}

/* Change the colors for people that prefer more contrast */
@media (prefers-contrast: more) {
  [color-scheme='dark'] {
    --text: white;
    --body: black;
  }
  
  [color-scheme='light'] {
    --text: black;
    --body: white;
  }
}

