/* Image Mask CSS */
#mask img {
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;

    /* mask property, need -webkit to support different browsers */
    /* we can also use a one-liner version */
    /* mask: url("../images/yin-yang-bold.svg") no-repeat center; */

    -webkit-mask-image: url("../images/yin-yang-bold.svg");
    mask-image: url("../images/yin-yang-bold.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
}
