/* Support all browsers with @supports */
.background-image {
    background: var(--accent) url("https://picsum.photos/seed/hi/500/300");
    padding: 40px;
}

.blur {
    text-align: center;
    color: #fff;

    background: var(--shadow-dark);

    /* backdrop-filter is not supported in all browsers */
    /* Firefox, Safari, UC Browser and others doesn't support it */
    backdrop-filter: blur(10px);
    /* the -webkit is for the Safari Browser only */
    -webkit-backdrop-filter: blur(10px);
}

/* With @supports you can give alternative to a style */
/* If the browser doesn't support backdrop-filter or the -webkit version (Firefox, UC Browser, etc) then the background will be different. */
@supports (not (backdrop-filter: blur())) and (not (-webkit-backdrop-filter: blur())) {
    .blur {
        background: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 375px) {
    .background-image {
        padding: 20px;
    }
}
